:root {
  --mainColor: 205, 100%, 86%;
  --mainColorGlow: 0px 0px 10px 0px hsla(var(--mainColor), 0.5),
      inset 0px 0px 10px 0px hsla(var(--mainColor), 0.5);
  --xCornersRadius: 14px;
  --oSmallRadius: 37.5px;
  --oLargeRadius: 49px;
}

body {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container button {
  background-color:  transparent;
  color:  hsla(var(--mainColor), 1);
  border: 1px solid hsla(var(--mainColor), 1);
  outline: 0;
  border-radius: 5px;
  padding:0.5rem;
  margin:10px auto 10px auto;
  font-family: inherit;
  font-size:1rem;
}
.container button:hover {
  box-shadow: 0px 0px 5px 0px hsla(var(--mainColor), 0.5),
  inset 0px 0px 5px 0px hsla(var(--mainColor), 0.5);
  cursor:pointer;
}


.gameGrid {
  text-align: center;
  display: grid;
}

.gameGrid {
  margin-top: 20px;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
}

.cell {
  border:1px solid #666;
  position: relative;
}
.cell.winner {
  --mainColor: 129, 72%, 56%;
}
.cell::before, .cell::after {
  position: absolute;
  content: ' ';
}
.cellX::before, .cellX::after, .cellO::before, .cellO::after {
  border-width:2px;
  border-style: solid; 
  border-color:hsla(var(--mainColor), 1);
}
.cellX::before, .cellX::after {
  width:20%;
  border-radius: var(--xCornersRadius);
  height: 90%;
  box-shadow: var(--mainColorGlow);
  top:00px;
  left:37.5%;
}
.cellX::before {
  transform:rotate(-45deg);
  animation: slideXIn 0.25s, tiltXLeft 0.25s ease 0.25s;
}

.cellX::after {
  transform:rotate(45deg);
  animation: slideXIn 0.25s, tiltXRight 0.25s ease 0.25s;
}

.cellO::before {
  width: 80%;
  height: 80%;
  border-radius:var(--oLargeRadius);
  box-shadow: var(--mainColorGlow);
  left:7.5%;
  top:7.5%;
  animation: largeCircleGlow 0.25s;
}
.cellO::after {
  box-shadow: var(--mainColorGlow);
  width: 60%;
  height: 60%;
  border-radius:var(--oSmallRadius);
  left:17.5%;
  top:17.5%;
  animation: smallCircleGlow 0.25s;
}

@media (min-width: 600px) {
  .gameGrid {
    margin-top: 50px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
  }
  :root {
    --xCornersRadius: 24px;
    --oSmallRadius: 62px;
    --oLargeRadius: 82px;
    --mainColorGlow: 0px 0px 20px 0px hsla(var(--mainColor), 0.5),
        inset 0px 0px 20px 0px hsla(var(--mainColor), 0.5);
  }
  .cellX::before, .cellX::after, .cellO::before, .cellO::after {
    border-width: 4px;
  }
}


@keyframes slideXIn {
  from {
    transform:rotate(0deg);
    height:20%;
    top:35%;
  }
  to {
    transform:rotate(0deg);
    height:80%;
    top:5%;
  }
}
@keyframes tiltXLeft {
  from {
    transform:rotate(0deg);
    height:80%;
    top:5%;
  }
  to {
    transform:rotate(-45deg);
    height:90%;
    top:0%;
  }
}
@keyframes tiltXRight {
  from {
    transform:rotate(0deg);
    height:80%;
    top:5%;
  }
  to {
    transform:rotate(45deg);
    height:90%;
    top:0%;
  }
}
@keyframes largeCircleGlow {
  from {
    height: 0px;
    width: 0px;
    border-radius: 0px;
    left:50%;
    top:50%;
  }
  to {
    width: 80%;
    height: 80%;
    border-radius:var(--oLargeRadius);
    left:7.5%;
    top:7.5%;
  }
}
@keyframes smallCircleGlow {
  from {
    height: 0px;
    width: 0px;
    border-radius: 0px;
    left:50%;
    top:50%;
  }
  to {
    width: 60%;
    height: 60%;
    border-radius:var(--oSmallRadius);
    left:17.5%;
    top:17.5%;
  }
}
